.message{
    display: flex;
}
.slogan{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.discover{
    border: solid #EC4067;
    padding: 30px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}
.grow{
    border: solid #EC4067;
    padding: 30px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}
.transform{
    border: solid #EC4067;
    padding: 30px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
}
.writings{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 20px;
}
.mykaimage{
    border-radius: 10px;
    margin-bottom: 50px;
   
}
.kaimage{
    margin-bottom: 100px;
}
.wasee{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 200px;
    /* display: flex;
    justify-content: space-between; */
}
.imagyra{
    width: 300px;
    height: 350px;
}
.mentorheading{
    text-align: center;
    font-weight: bold;
}
.myguimage{
    width: 100%;
}
.kadogo{
    text-align: center;
}