.navigation{
    display: flex;
    justify-content: space-between;
    background-color:#EC4067;
    padding: 10px;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
  }
  
.item{
        display: flex;
        justify-content: space-between;
        padding-right: 70px;
        padding-left: 50px;
        margin-left: 10px;
        margin-right: 90px;
        font-weight: bolder;
        font-size: xx-large;
        
  }

.logo{
    font-size: xx-large;
    font-weight: 700;
  }
.navigation-items{
    display: flex;
    justify-content: space-around

}
