.Stories{
    margin-bottom: 50px;
    margin-left: 100px;
}
.stories1{
    display: flex;
    margin-left: 200px;
}
.orientation {
    margin-left: 100px;
    margin-top: 100px;
    font-size: large;
}
.Moringa4{
    display: flex;
    margin-top: 100px;
}
.Board{
    margin-top: 100px;
    font-size: large;
    margin-right: 100px;
    margin-left: 500px;
}
.Moringa5{
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 200px;
}
.Moringa8{
    display: flex;
    margin-top: 100px;
}
.graduation{
    margin-top: 100px;
    margin-left: 100px;
    font-size: large;
}
.Moringa10{
    display: flex;
    margin-top: 50px;
    font-size: large;
}